@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}




.navbar {
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}


.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 0.5rem;
    height: 100%;
}

.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 25px;
    background: #0a0a0a;
    color: #fff;
}

.button:hover{
    background: #8b0728;
    transition: all 0.3s ease;
}

.navbar_links:hover{
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1400px;
        padding: 0;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 75vh;
        z-index: -1;
        background: #fff;
    }

    .navbar_menu.active{
        background: #fff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 75vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #0a0a0a;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Navigation Section CSS */

/* ------------------------------------------------------------------------------------------------------------------------------ */






/* SERVICES PAGE */ 

/*Services Title CSS */
.aboutus_section-title{
    margin-bottom: 40px;
}

.aboutus_backgroundimage-title {
    background-image: url("images/careers/jobhiring.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 280px;
}

.aboutus_title-qoute h5{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    padding-top: 110px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .aboutus_section-title{
        margin-bottom: 30px;
    }
    
    .aboutus_backgroundimage-title {
        height: 230px;
    }
    
    .aboutus_title-qoute h5{
        font-size: 2.5rem;
        padding-top: 95px;
    }
}

@media screen and (max-width: 500px) {
    .aboutus_section-title{
        margin-bottom: 30px;
    }
    
    .aboutus_backgroundimage-title {
        height: 185px;
    }
    
    .aboutus_title-qoute h5{
        font-size: 2rem;
        padding-top: 80px;
    }
}








/*About-us 1st Content CSS */
.aboutus_first {
    margin-bottom: 40px;
}

.aboutus_first-content {
    margin: 0 auto;
    width: 80%;
}

.aboutus_first-content p{
    color: #0a0a0a;
    font-size: 1.1rem;
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .aboutus_first {
        margin-bottom: 40px;
    }
    
    .aboutus_first-content {
        width: 90%;
    }
    
    .aboutus_first-content p{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 500px) {
    .aboutus_first {
        margin-bottom: 40px;
    }
    
    .aboutus_first-content {
        width: 90%;
    }
    
    .aboutus_first-content p{
        font-size: 1rem;
    }
}







/*About-us 2nd Content CSS */
.aboutus_second {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 40px;

}

.aboutus_second p{
    color: #0a0a0a;
    font-size: 1.1rem;
    margin-bottom: 25px;
    font-weight: 600;
}

.aboutus_second-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aboutus_content-grid span {
    color: red;
    padding-right: 5px;
}

.aboutus_content-grid ul {
    color: #0a0a0a;
    font-size: 1.1rem;
    padding-top: 6px;
    padding-left: 15px;
    font-weight: 600;
}

.aboutus_content-grid {
    margin-bottom: 30px;
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .aboutus_second {
        width: 90%;
        margin-bottom: 40px;
    
    }
    
    .aboutus_second-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .aboutus_second {
        width: 90%;
        margin-bottom: 40px;
    
    }
    
    .aboutus_second p{
        font-size: 1rem;
    }
    
    .aboutus_second-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .aboutus_content-grid ul {
        font-size: 1rem;
    }
}







/*About-us 3rd Content CSS */
.aboutus_third {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

.aboutus_third-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 85%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.aboutus_third-grid img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .aboutus_third {
        margin-bottom: 40px;
    }
    .aboutus_third-container {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {
    .aboutus_third {
        margin-bottom: 40px;
    }
    
    .aboutus_third-container {
        display: grid;
        grid-template-columns: auto;
        width: 40%;
    }
}











/* ------------------------------------------------------------------------------ */
/* Contact Style CSS */
.schedule {
    background-color: #F6F6F6;
    padding-top: 60px;
    padding-bottom: 60px;
}

.schedule_container {
    margin: 0 auto;
    max-width: 100%;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.schedule_content h1 {
    padding-bottom: 20px;
    font-size: 2rem;
}

.schedule_content p {
    font-size: 1.3rem;
}

.schedule_contact{
    gap: 15px;
    display: grid;
}
input{
    background-color: white;
    border: white;
    padding: 20px;
}
input::placeholder {
    font-size: 18px;
    font-weight: 100;
  }
textarea{
    background-color: white;
    border: white;
    padding: 20px;
    height: 150px;
}
textarea::placeholder{
    font-size: 18px;
}
.btn-contact {
    background-color: #c2282d;
    padding: 15px;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 1.5rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;

}

.btn-contact a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.btn-contact:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s; 
}

.btn-contact:hover {
    color: #fff;
}

.btn-contact:hover:after {
    width: 100%;
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .schedule_container {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        width: 90%;
    }
    .schedule_content h1 {
        font-size: 2rem;
    }
    .schedule_content p {
        font-size: 1.2rem;
    }
}
@media all and (max-width: 500px) {
    .schedule_container {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        width: 90%;
    }
    .schedule_content h1 {
        font-size: 2rem;
    }
    .schedule_content p {
        font-size: 1rem;
    }
    input::placeholder {
        font-size: 1rem;
    }
    textarea::placeholder{
        font-size: 1rem;
    }
    .btn-contact {
        font-size: 1rem;
    }
}







/* Footer Section CSS */
.footer_section {
    margin: 0 auto;
    margin-bottom: 0;
    background-color: #000;
}

.footer_container {
    width: 90%;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 40px;
}

.footer_logo-title a{
    font-size: 1.5rem;
    font-weight: 1000;
    width: 60%;
    color: #fff;
    text-decoration: none;
}

.footer_logo-title a:hover {
    color: #fff;
    transition: 0.3s ease-out;
}

.footer_link-items {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}

.footer_link-items h2 {
    font-weight: 800;
    margin-bottom: 16px;
    color: #fff;
}

.footer_link-items a {
    color: #ffff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer_link-items a:hover {
    color: #4837ff;
    transition: 0.3s ease-out;
}

.footer-contact{
    display: flex;
    gap: 30px;
    color: #fff;
    padding: 10px;
}

.footer-contact span{
    color: #c2282d;
    font-size: 40px;
}


/* Social Icons */
.social_icon-link {
    background-color: #c2282d; 
    padding: 10px 13px;
    border-radius: 90px;
    color: #fff;
    font-size: 24px;
}

.social_media {
    max-width: 1300px;
    margin: 0 auto;
    width: 85%;
}

.social_media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social_icons {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
}

.website_rights {
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    color: #fff;
    padding-bottom: 30px;
}


@media screen and (max-width: 960px){
.footer_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 20px;
}

.footer_card {
    padding: 15px;
}


.footer_link-items {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
}

.footer-contact{
    display: grid;
    gap: 20px;
    color: #fff;
}

}