@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    font-family: 'Gill Sans', sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    max-width: 1400px;
    width: 85%;
    margin: 0 auto;
    /* position: sticky; */
    top: 0;
    z-index: 999;
    padding-top: 2rem;
}

#navbar_logo{
    position: absolute;
    width: 125px;
    height: 75px;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1400px;
}


.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-top: 50px;
}

.navbar ul {
    list-style-type:none;
    display:inline-block;
}

.navbar ul li {
    position:relative;
    display:inline-block;
}

li > a:after { content: ' »'; } /* Change this in order to change the Dropdown symbol */

li > a:only-child:after { content: ''; }

.navbar ul li a {
    text-decoration:none;
}

.navbar ul li a:hover {
    opacity:0.5;
}

.navbar ul li ul {
    display:none;
    position:absolute;
}

.navbar ul li ul li {
    width:100%;
}

.navbar ul li:hover ul {
    display:block;
}

.navbar_links {
    color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 1rem 0 1rem;
    height: 100%;
}


.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.button0 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-weight: bold;
}

.navbar_links:hover{
    color: #FF0000;
    transition: all 0.3s ease;
}

.button0:hover {
    background: #FFF;
    color: #FF0000;
    border: 1px solid black;
    transition: all 0.3s ease;
}


@media screen and (max-width: 960px) {
.navbar {
    width: 90%;
    padding-bottom: 0;
    }

.navbar_container{
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    z-index: 1;
}

#navbar_logo{
    margin-left: 30px;
    position: absolute;
    width: 120px;
    height: 70px;
}

#mobile-menu {
    position: absolute;
    margin-right: 30px;
    top: 55%;
    right: 50px;
    transform: translate(50px, 55%);
}

.navbar_menu{
    display: grid;
    grid-template-columns: auto;
    position: relative;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -1;  
    
}

.navbar_menu.active{
    top: 160%;
    position: absolute;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    display: grid;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    background-color: #fff;
}

.navbar_toggle .bar:nth-child(2){
    width: 24px;
}

.navbar_toggle .bar{
    width: 28px;
    height: 2.5px;
    margin: 5px 25px auto;
    transition: all 0.3s ease-in-out;
    background: #000000;
}

    li > a:after { content: ''; }

.navbar ul li ul {
    display: flex;
    position: relative;
}

.navbar ul li ul li {
    display: flex;
    position: relative;
    width:100%;
}

.navbar_links{
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
    font-size: 1rem;
}

.navbar_btn {
    position: absolute;
    padding-bottom: 1rem;
    margin-top: 6.5rem;
}

.button0 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button0 p{
     font-size: 1.1rem;
     padding-bottom: 1rem; 
}

.navbar_toggle .bar {
    display: block;
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}


@media screen and (max-width: 600px) {
 .navbar {
    width: 100%;
    padding-bottom: 0;
    padding-top: 0.1rem;
    }

#navbar_logo{
    margin-left: 5px;
    position: absolute;
    width: 105px;
    height: 60px;
}

#mobile-menu {
    position: absolute;
    margin-right: 5px;
    top: 45%;
    right: 50px;
    transform: translate(50px, 45%);
}

.navbar_toggle .bar{
    width: 28px;
    height: 2.5px;
    margin: 5px 25px auto;
    transition: all 0.3s ease-in-out;
    background: #000000;
}

.navbar_btn {
    position: absolute;
    margin-top: 150px;
}

.button0 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0.1rem 0.1rem;
    margin: 0 auto;
}
}





/* ------------------------------------------------------------------------------------------------------------------------------ */


/* Main Section CSS */

.main {
    padding-top: 120px;
    margin: 0 auto;
    max-width: 1400px;
    justify-content: center;
    text-align: center;
}

.main_content p {
    font-family: Helvetica;
    font-size: 3.1rem;
}

.main_btn {
    padding-top: 4rem;
    position: relative;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.button01 {
    font-family: 'Gill Sans', sans-serif;
    display: flex;
    text-decoration: none;
    padding: 16px 30px;
    border-radius: 10px;
    background: #000;
    color: #fff;
}

.button01 p{
    font-size: 1.1rem;
    margin: 0 auto;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button01:hover{
    background: #FFF;
    color: #000;
    border: 1px solid black;
    transition: all 0.3s ease;
}



@media screen and (max-width: 960px) {
    .main {
        width: 80%;
        padding-top: 110px;
    }
    
    .main_content p {
        font-size: 2.3rem;
    }

    .main_btn {
        width: 100%;
    }

    .button01 {
        display: flex;
        position: relative;
        font-weight: bold;
        text-decoration: none;
        width: 180px;
        margin: 0 auto;
    }

    .button01 p{
        font-size: 1rem;
    }
    
}


@media screen and (max-width: 724px) {
    .main {
        padding-bottom: 2rem;      
    }
}



@media screen and (max-width: 600px) {
    .main {
        padding-top: 4.5rem;
        width: 85%;
    }

    
    .main_content p {
        font-size: 1.8rem;
    }

    .main_btn {
        width: 100%;
    }

    .main_btn {
    padding-top: 3.5rem;
    position: relative;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

    .button01 {
        display: flex;
        position: relative;
        font-weight: bold;
        text-decoration: none;
        width: 180px;
        margin: 0 auto;
    }

    .button01 p{
        font-size: 1rem;
    }
    
}



/* ------------------------------------------------------------------------------------------------------------------------------ */


/* Working Section CSS */

.workingday1 {
    font-weight: bold;
    max-width: 1400px;
    padding-top: 4rem;
    padding-bottom: 0.5rem;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.workingday2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 724px) {
    .workingday1 {
        font-size: 1rem;      
    }
    .workingday2 {
        font-size: 1rem;      
    }
}


/* ------------------------------------------------------------------------------------------------------------------------------ */


/*
Submain Section CSS

.submain {
    max-width: 1400px;
    padding-top: 5rem;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.submain_container {
    display: flex;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.submain_content {
    margin-right: 50px;
}

.submain_logo img {
    margin-left: 65px;
    width: 60px;
    height: 60px;
}

@media screen and (max-width: 960px) {
.submain {
        width: 90%;
    }

    .submain_content {
        margin-right: 5px;
    }

    .submain_logo img {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 725px) {
    .submain {
        width: 100%;
    }
    .submain_container {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
     
    .submain_logo {
        margin-left: 1.1rem;
        
    }

    .submain_logo img {
        position: relative;
        margin-top: 1.5rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 60px;
        height: 60px;
    }

}

@media screen and (max-width: 724px) {

.submain {
    padding-top: 2rem;
}
    .submain_logo {
        margin: 0 auto;      
    }
} */

/* ------------------------------------------------------------------------------------------------------------------------------ */



/* Content 01 Section CSS */
.content01 {
    position: relative;
    max-width: 1400px;
    padding-top: 5rem;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.content01_container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    grid-template-columns: auto;
}

.content01_title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.content01_title h1 {
    width: 85%;
    font-family: Helvetica;
    position: relative;
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

.content01_title_01 {
    position: relative;
    display: flex;
    grid-template-columns: auto;
    padding-bottom: 2rem;
}

.content01_01 {
    position: relative;
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 1.8rem;
}

.content01_01 p{
    width: 80%;
    font-size: 1.2rem;
    position: relative;
}

.content01_01 img{
    width: 40px;
    height: 40px;
    margin-bottom: 1rem;
}

.content01_title02 {
    position: relative;
    display: grid;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    place-items: center;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.096);
    background: #3A3B3C;
}

.content01_title02 img {
    width: 60px;
    height: 60px;
    border-style: outset;
    border-color: #fff;
    border-radius: 10px;  /* rgb(26, 251, 1); */
}



@media screen and (max-width: 960px) {

    .content01_container {
        width: 90%;
        position: relative;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .content01_01 {
        position: relative;
        font-family: Helvetica;
        max-width: 1400px;
        width: 85%;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

    .content01_title_01 {
        position: relative;
        display: flex;
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

    .content01_title02 {
        position: relative;
        font-family: Helvetica;
        width: 80%;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 auto;

    }

    .content01_title h1 {
        width: 90%;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }


    .content01_01 p{ 
        width: 90%;
        margin: 0 auto;
    }
}


@media screen and (max-width: 700px) {

    .content01_01 {
        position: relative;
        font-family: Helvetica;
        max-width: 1400px;
        width: 85%;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

    .content01_title_01 {
        position: relative;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .content01_title02 {
        position: relative;
        font-family: Helvetica;
        width: 85%;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }   
}


@media screen and (max-width: 600px) {
     .content01_title h1{
        font-size: 1.8rem;
     }
}


/* ------------------------------------------------------------------------------------------------------------------------------ */


/* Testimonial Section CSS */
.testimonial {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.testimonial_content h1{
    font-family: Helvetica;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.testimonial_container {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 85%;
    grid-template-columns: 1fr 1.5fr;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.096);
    text-align: center;
    align-items: center;
    border-radius: 15px;
    background: #3A3B3C;
}

.testimonial-testimony-content {
    margin: 0 auto;
    padding: 1.5rem;
}

.testimonial-margin-bottom{
    margin-bottom: 60px;
}

.active p {
    margin-top: 1rem;
}

.testimonial-quote-icon{
    /*color: #c2282d;*/ color: #FF0000;
    font-size: 32px;
}

.testimonial-span-color{
    /* color:#000; */
    color: #FFFFFF;
}


/* carousel slider */
.arrow{
    display: none !important;
}
.sliders input{
    display: none;
}
.navigation-manual{
    display:flex;
    justify-content: center;
}
.manual-btn{
    margin: 4px;
    padding: 5px;
    height: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background-color: grey;
}

/* new slider */
.testimonial-content-slider-holder{
    position: relative;
}
.testim{
    width: 100%;
}
.testim .wrap{
    position: relative;
    width: 100%;
    max-width: 1020px;
    margin: auto;
}
.testim .arrow{
    display: block;
    position: absolute;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}
.testim .arrow:before{
    cursor: pointer;
}
.testim .arrow.left{
    left: 10px;
}
.testim .arrow.right{
    right: 10px;
}
.testim .arrow:hover{
    /*  color: #f77062; */
    color: #ea830e; 
}
.testim .dots{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    display: block;
    z-index: 3333;
    height: 12px;
}
.testim .dots .dot{
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #eee;
    background-color: #2e2e2e;
    cursor: pointer;
    transition: all .5s ease-in-out;
    position: relative;
}
.testim .dots .dot.active,
.testim .dots .dot:hover{
background: #c2282d;
border-color: #FF0000;
}

.testim .dots .dot.active{
    animation: testim-scale .5s ease-in-out forwards;
}
.testim .cont{
    position: relative;
    overflow: hidden;
}
.testim .cont > div{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 10px 0;
    opacity: 0;
}
.testim .cont > div.inactive{
    opacity: 1;
}
.testim .cont > div.active{
    
    position: relative;
    opacity: 1;
    
}
.testim .cont div .img img{
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
}
.testim .cont div h2{
    color: #FF0000;
    font-size: 1.2rem;
    margin: 15px 0;
}
.testim .cont div p{
    font-size: 1.2rem;
    /* color: #000; */
    color: #FFFFFF;
    margin: auto;
}
.cont > div {
    display: grid;
    gap: 20px;
}
.testim .cont div.active .img img{
    animation: testim-show .5s ease-in-out forwards;
}
.testim .cont div.active h2{
    animation: testim-content-in .4s ease-in-out forwards;
}
.testim .cont div.active p {
    animation: testim-content-in .5s ease-in-out forwards;
}
.testim .cont div.inactive .img img{
    animation: testim-hide .5s ease-in-out forwards;
}
.testim .cont div.inactive h2{
    animation: testim-content-out .4s ease-in-out forwards;
}
.testim .cont div.inactive p {
    animation: testim-content-out .5s ease-in-out forwards;
}


@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}
@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}
/* coding with nick */

/* Responsive */
@media all and (max-width: 300px) {
    body {
        font-size: 14px;
    }
}
@media all and (max-width: 600px) {
    .testim .arrow{
        font-size: 1.5rem;
    }
    .testim .cont div p{
        line-height: 25px;
    }
    .testimonial_content h1{
         font-size: 1.8rem;
     }
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .testimonial_container {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        width: 85%;
    }
    .testimonial {
        margin-bottom: 40px;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------ */


/* Outsource Section CSS */
.outsource {
    max-width: 1400px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 85%;
    margin: 0 auto;
}

.outsource_content h1{
    font-family: Helvetica;
    font-size: 2.5rem;
    padding-bottom: 3rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.outsource_content p{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.outsource_content01 {
    position: relative;
    display: flex;
    grid-template-columns: auto;
    padding-bottom: 2rem;
}

.outsource_works {
    margin: 0 0.4rem 0 0.4rem;
    position: relative;
    width: 100%;
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.096);
    background: #3A3B3C;
}

.outsource_works p {
    display: flex;
    font-size: 1.2rem;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

.outsource_works img{
    width: 90px;
    height: 90px;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
    .outsource {
        width: 90%;
    }

    .outsource_content01 {
      position: relative;
      display: grid;
      grid-template-columns: auto;
      padding-bottom: 2rem;
}
    .outsource_works {
      margin-bottom: 1rem;
      position: relative;
      width: 100%;
      padding-top: 3rem;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.096);
      background: #3A3B3C;
      }
}
  
@media screen and (max-width: 600px) {
    .outsource_content h1 {
        font-size: 1.8rem;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------ */


/* Footer Section CSS */
.footer_section {
    padding-top: 5rem;
    margin: 0 auto;
    background-color: #fff;
}

.footer_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 20px;
}

.footer_logo-title a{
    font-size: 1.5rem;
    font-weight: 1000;
    width: 100%;
    color: #000;
    text-decoration: none;
}

.footer_logo-title a:hover {
    color: #3A3B3C;
    transition: 0.3s ease-out;
}

.footer_link-items {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    align-items: center;
    text-align: center;
}


.footer_link-items a {
    color: #000;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer_link-items a:hover {
    color: #3A3B3C;
    transition: 0.3s ease-out;
}


.main1_btn {
    padding-top: 3rem;
    position: relative;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.button101 {
    font-family: 'Gill Sans', sans-serif;
    display: flex;
    text-decoration: none;
    padding: 16px 35px;
    border-radius: 15px;
    background: #000;
    color: #fff;
}

.button101 p{
    font-size: 1.1rem;
    margin: 0 auto;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button101:hover{
    background: #FFF;
    color: #000;
    border: 1px solid black;
    transition: all 0.3s ease;
}


/* Social Icons */
.social_icon-link {
    background-color: #c2282d; 
    padding: 10px 13px;
    border-radius: 50px;
    color: #fff;
    font-size: 15px;
}

.social_media {
    max-width: 1300px;
    margin: 0 auto;
    width: 85%;
}

.social_media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
}

.social_icons {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
}

.website_rights {
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    color: #000;
    padding: 20px 0 20px 0;
}


@media screen and (max-width: 960px){
.footer_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 20px;
}

.footer_card {
    padding: 15px;
}


.footer_link-items {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
}

.footer-contact{
    display: grid;
    gap: 20px;
    color: #fff;
}

}
