@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}



.navbar {
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}


.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 0.5rem;
    height: 100%;
}

.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 25px;
    background: #0a0a0a;
    color: #fff;
}

.button:hover{
    background: #8b0728;
    transition: all 0.3s ease;
}

.navbar_links:hover{
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1400px;
        padding: 0;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 75vh;
        z-index: -1;
        background: #fff;
    }

    .navbar_menu.active{
        background: #fff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 75vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #0a0a0a;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Navigation Section CSS */

/* ------------------------------------------------------------------------------------------------------------------------------ */




/* Hero Section CSS */
.main_container {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    max-width: 100%;
    padding: 40px 50px;
}

.main_content h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 600;
}

.main_content p {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

.main_btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    margin-bottom: 70px;
    font-weight: 600;
}

.main_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 25px;
}

.main_btn:hover {
    color: #fff;
}

.main_btn:hover:after {
    width: 100%;
}

.main {
    background-image: url(images/hero-banner.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
/*
    background: url(images/hero-banner.jpg) no-repeat center top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    background-image: url("images/hero-banner.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 100px; */
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .main_container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        padding: 40px 20px;
    }

    .main_content {
        text-align: center;
    }

    .main_content h1 {
        font-size: 3rem;
    }

    .main_content p {
        font-size: 1.1rem;
    }
    .main_btn {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 500px) {
    .main_container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        padding: 40px 15px;
    }

    .main_content h1 {
        font-size: 2.5rem;
    }

    .main_content p {
        font-size: 1rem;
    }

    .main_btn {
        margin-bottom: 30px;
    }
}








/* Services Section CSS */
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
}

.services h1 {
    color: rgb(0, 0, 0) !important;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 30px !important;
    width: 70%;
    margin-top: 50px;
    text-align: center;
}

.services_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
    justify-content: center;
    flex-wrap: wrap;
}

.services_card {
    margin: 0.25rem;
    height: 390px;
    width: auto;
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: #0a0a0a;
    border-style: solid;
    border-color: #f0f0f0;
}

.services_card img {
    margin-top: 70px;
}

.services h2 {
    font-size: 1.4rem;
    position: relative;
    top: 10px;
    text-align: center;
}

.services_card p {
    position: relative;
    top: 25px;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

@media screen and (max-width: 960px){
    .services {
        margin-bottom: 40px;
    }

    .services h1 {
        font-size: 2rem;
    }

    .services_container {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .services_card {
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    .services {
        margin-bottom: 40px;
    }

    .services h1 {
        font-size: 1.5rem;
    }

    .services_container {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .services_card {
        width: 90%;
    }
}






 
/* About-Us Section CSS */
.aboutus {
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 0 50px;
    margin-bottom: 40px;
}

.aboutus_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aboutus_img-container {
    height: 100%;
    width: 95%;
}

.aboutus_img-container img{
    position: relative;
    width: 100%;
}

.aboutus_content h1 {
    font-size: 2.2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 20px;
}

.aboutus_content p {
    font-size: 1.2rem;
}

.aboutus_sub {
    display: flex;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
    align-items: center;
}

.aboutus_sub h3 {
    color: red;
    font-size: 1.5rem;
}

.aboutus_content h2 {
    color: #0a0a0a;
    font-size: 1.5rem;
}

.aboutus_sub p {
    margin-top: 5px;
    font-size: 1.2rem;
}

.aboutus_sub span {
    font-size: 40px;
    color: red;
}


/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .aboutus {
        margin-bottom: 40px;
    }
    .aboutus_container {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        width: 90%;
    }

    .aboutus_content {
        margin-top: 1rem;
        margin-bottom: 10px;
    }

    .aboutus_content h1 {
        font-size: 2rem;
    }

    .aboutus_content h2 {
        font-size: 1.5rem;
    }

    .aboutus_content p {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .aboutus_sub p {
        margin-right: 20px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .aboutus {
        margin-bottom: 40px;
    }
    .aboutus_container {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        width: 90%;
    }

    .aboutus_content {
        margin-top: 1rem;
        margin-bottom: 10px;
    }

    .aboutus_content h1 {
        font-size: 2rem;
    }

    .aboutus_content h2 {
        font-size: 1.5rem;
    }

    .aboutus_content p {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .aboutus_sub p {
        margin-right: 20px;
        font-size: 1rem;
    }
}







 
/* Outsource Section CSS */
.outsource {
    background-color: #ECECEC;
    padding: 60px 0px;
    align-items: center;
    text-align: center;
}

.outsource_container {
    max-width: 100%;
    margin: auto;
    margin-bottom: 30px;
}

.outsource_content {
    position: relative;
    color:#000 !important;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 80%;
}

.outsource_content h2{
    font-size: 2rem;
}

.outsource_content p{
    margin-top: 5px;
    font-size: 1.2rem;
}

.outsource_grid-parent{
    gap: 25px;
    display: grid;
    padding: 50px;
}

.outsource_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
}

.outsource_col{
    position: relative;
    display: grid;
}

.outsource_col img{
    border-radius: 6px;
    position: relative;
    width: 100%;
}

.outsource_col button{
    position: absolute;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 13px 20px;
    border: none;
    top: -20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 0.35s;
    outline: none;
}

.outsource_col:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.margin-bottom-outsource{
    margin-bottom: 40px;
}

.outsource_btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    font-weight: 600;
}

.outsource_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.outsource_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 25px;
}

.outsource_btn:hover {
    color: #fff;
}

.outsource_btn:hover:after {
    width: 100%;
}

/* Mobile Responsive */
@media screen and (max-width: 960px){
    .outsource_container {
        margin: auto;
        width: 95%;
        margin-bottom: 30px;
        
    }

    .outsource h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .outsource_grid {
        gap: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 707px){
    .outsource_container {
        margin: auto;
        width: 95%;
        margin-bottom: 30px;
    }

    .outsource h1 {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .outsource_grid {
        gap: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}










/* Qoute Section CSS */
.quote_section {
    margin-bottom: 40px;
    color: white;
}

.qoute-content-holder{
    width: 90%;
    margin: 0 auto;
}

.qoute-background-image{
    background-image: url(images/qoute/freequote.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bd-container-qoute {
    max-width: 100%;
    text-align: center;
    justify-content: center;
    display: grid;
    align-items: center;
    margin: auto;
}
.qoute-content-holder h5{
    padding-top: 50px;
    font-size: 2.5rem !important;
}
.qoute-content-holder p{
    font-size: 1.2rem;
}
.qoute-margin{
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn-outlined {
    padding: 15px 30px;
    border-radius: 45px;
    font-weight: 600;
    color: white;
    font-size: 1.4rem;
    border: 2.4px solid white;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    margin-bottom: 70px;
}

.btn-outlined a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.btn-outlined:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 45px;
}

.btn-outlined:hover {
    color: #fff;
}

.btn-outlined:hover:after {
    width: 100%;
}

/* Mobile Responsive */
@media screen and (max-width: 960px){
    .quote_section {
        margin-bottom: 40px;
    }
    .qoute-content-holder{
        width: 95%;
    }
    .qoute-content-holder h5{
        font-size: 2rem !important;
    }
    .qoute-content-holder p{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 500px){
    .quote_section {
        margin-bottom: 40px;
    }
    .qoute-content-holder{
        width: 90%;
    }
    .qoute-content-holder h5{
        font-size: 1.5rem !important;
    }
    .qoute-content-holder p{
        font-size: 1rem;
    }
}








/* Testimonial Section CSS */
.testimonial {
    margin-bottom: 40px;
}

.testimonial_content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.testimonial_content h1, p, h2{
    padding-bottom: 30px;
}

.testimonial_content p{
    font-size: 1.2rem;
}

.testimonial_container {
    display: flex;
    margin: 0 auto;
    width: 85%;
    max-width: 100%;
    grid-template-columns: 1fr 1.5fr;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.096);
    text-align: center;
    align-items: center;
}

.testimonial_img-container {
    width: 100%;
    
}

.testimonial_img-container img{
    width: 100%;
    height: 100%;
}

.testimonial-testimony-content {
    padding: 1.5rem;
}

.testimonial-margin-bottom{
    margin-bottom: 60px;
}

.active p {
    margin-top: 1rem;
}

.testimonial-quote-icon{
    color: #c2282d;
    font-size: 32px;
}

.testimonial-span-color{
    color:#000;
}


/* carousel slider */
.arrow{
    display: none !important;
}
.sliders input{
    display: none;
}
.navigation-manual{
    display:flex;
    justify-content: center;
}
.manual-btn{
    margin: 4px;
    padding: 5px;
    height: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background-color: grey;
}

/* new slider */
.testimonial-content-slider-holder{
    position: relative;
}
.testim{
    width: 100%;
}
.testim .wrap{
    position: relative;
    width: 100%;
    max-width: 1020px;
    margin: auto;
}
.testim .arrow{
    display: block;
    position: absolute;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}
.testim .arrow:before{
    cursor: pointer;
}
.testim .arrow.left{
    left: 10px;
}
.testim .arrow.right{
    right: 10px;
}
.testim .arrow:hover{
    color: #ea830e;
}
.testim .dots{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    display: block;
    z-index: 3333;
    height: 12px;
}
.testim .dots .dot{
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #eee;
    background-color: #2e2e2e;
    cursor: pointer;
    transition: all .5s ease-in-out;
    position: relative;
}
.testim .dots .dot.active,
.testim .dots .dot:hover{
background: #c2282d;
border-color: #c2282d;
}

.testim .dots .dot.active{
    animation: testim-scale .5s ease-in-out forwards;
}
.testim .cont{
    position: relative;
    overflow: hidden;
}
.testim .cont > div{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 10px 0;
    opacity: 0;
}
.testim .cont > div.inactive{
    opacity: 1;
}
.testim .cont > div.active{
    
    position: relative;
    opacity: 1;
    
}
.testim .cont div .img img{
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
}
.testim .cont div h2{
    color: #c2282d;
    font-size: 1em;
    margin: 15px 0;
}
.testim .cont div p{
    font-size: 16px;
    color: #000;
    margin: auto;
}
.cont > div {
    display: grid;
    gap: 20px;
}
.testim .cont div.active .img img{
    animation: testim-show .5s ease-in-out forwards;
}
.testim .cont div.active h2{
    animation: testim-content-in .4s ease-in-out forwards;
}
.testim .cont div.active p {
    animation: testim-content-in .5s ease-in-out forwards;
}
.testim .cont div.inactive .img img{
    animation: testim-hide .5s ease-in-out forwards;
}
.testim .cont div.inactive h2{
    animation: testim-content-out .4s ease-in-out forwards;
}
.testim .cont div.inactive p {
    animation: testim-content-out .5s ease-in-out forwards;
}


@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}
@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}
/* coding with nick */

/* Responsive */
@media all and (max-width: 300px) {
    body {
        font-size: 14px;
    }
}
@media all and (max-width: 500px) {
    .testim .arrow{
        font-size: 1.5rem;
    }
    .testim .cont div p{
        line-height: 25px;
    }
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .testimonial_container {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        width: 90%;
    }
    .testimonial {
        margin-bottom: 40px;
    }
}







/* ------------------------------------------------------------------------------ */
/* Contact Style CSS */
.schedule {
    background-color: #F6F6F6;
    padding-top: 60px;
    padding-bottom: 60px;
}

.schedule_container {
    margin: 0 auto;
    max-width: 100%;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.schedule_content h1 {
    padding-bottom: 20px;
    font-size: 2rem;
}

.schedule_content p {
    font-size: 1.3rem;
}

.schedule_contact{
    gap: 15px;
    display: grid;
}
input{
    background-color: white;
    border: white;
    padding: 20px;
}
input::placeholder {
    font-size: 18px;
    font-weight: 100;
  }
textarea{
    background-color: white;
    border: white;
    padding: 20px;
    height: 150px;
}
textarea::placeholder{
    font-size: 18px;
}
.btn-contact {
    background-color: #c2282d;
    padding: 15px;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 1.5rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;

}

.btn-contact a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.btn-contact:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s; 
}

.btn-contact:hover {
    color: #fff;
}

.btn-contact:hover:after {
    width: 100%;
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .schedule_container {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        width: 90%;
    }
    .schedule_content h1 {
        font-size: 2rem;
    }
    .schedule_content p {
        font-size: 1.2rem;
    }
}
@media all and (max-width: 500px) {
    .schedule_container {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        width: 90%;
    }
    .schedule_content h1 {
        font-size: 2rem;
    }
    .schedule_content p {
        font-size: 1rem;
    }
    input::placeholder {
        font-size: 1rem;
    }
    textarea::placeholder{
        font-size: 1rem;
    }
    .btn-contact {
        font-size: 1rem;
    }
}






/* Footer Section CSS */
.footer_section {
    margin: 0 auto;
    background-color: #000;
}

.footer_container {
    width: 90%;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 40px;
}

.footer_logo-title a{
    font-size: 1.5rem;
    font-weight: 1000;
    width: 60%;
    color: #fff;
    text-decoration: none;
}

.footer_logo-title a:hover {
    color: #fff;
    transition: 0.3s ease-out;
}

.footer_link-items {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}

.footer_link-items h2 {
    font-weight: 800;
    margin-bottom: 16px;
    color: #fff;
}

.footer_link-items a {
    color: #ffff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer_link-items a:hover {
    color: #4837ff;
    transition: 0.3s ease-out;
}

.footer-contact{
    display: flex;
    gap: 30px;
    color: #fff;
}

.footer-contact span{
    color: #c2282d;
    font-size: 40px;
}


/* Social Icons */
.social_icon-link {
    background-color: #c2282d; 
    padding: 10px 13px;
    border-radius: 90px;
    color: #fff;
    font-size: 24px;
}

.social_media {
    max-width: 1300px;
    margin: 0 auto;
    width: 85%;
}

.social_media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social_icons {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
}

.website_rights {
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    color: #fff;
}


@media screen and (max-width: 960px){
.footer_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 20px;
}

.footer_card {
    padding: 15px;
}


.footer_link-items {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
}

.footer-contact{
    display: grid;
    gap: 20px;
    color: #fff;
}

}